*{
    margin: 0% ;
    padding: 0% ;
   
}

html, body{
    height: 100% ;
    width: 100% ;
}

h1{  
    background-color: rgb(131, 119, 119) ;
   width: 50% ;
    color :aliceblue ;
    text-align: center ;
    font-size: xx-large; 
    font-family: 'Gill Sans' ;

}
body{
    background-color: rgb(40, 44, 48);
}
