h1{
    background-color: rgb(131, 119, 119) ;
    color :aliceblue ;
    text-align: center ;
    font-size: xx-large; 
    font-family: 'Gill Sans' ;

}
body{
    background-color: rgb(40, 44, 48);
}
